<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>


<h2 th:text="${video.title}"></h2>


<h1>Likes </h1>

<div th:each="like : ${allLike}">
    <h2 th:text="${like}"></h2>
</div>
<h1>dislike</h1>
<div th:each="dislike : ${allDislike}">
    <h2 th:text="${dislike}"></h2>
</div>



</body>
</html>