<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<h>Video Player </h>
<br>
<br>
    <iframe

            width="560" height="315"
            th:src="@{https://www.youtube.com/embed/{url} (url=${video.url})}"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; gyroscope; picture-in-picture"
            allowfullscreen>

    </iframe>

<form action="" th:action="@{/v/ld}">

    <input type="hidden" name="vid" th:value="${video.id}">
    <input type="hidden" name="like" th:value="${T(com.example.VideoShareLibrary.Enums.LikeDislikeEnum).LIKE}">
    <button type="submit">Like</button>

</form>
<br><br>

<form action="" th:action="@{/v/ld}">

    <input type="hidden" name="vid" th:value="${video.id}">
    <input type="hidden" name="like" th:value="${T(com.example.VideoShareLibrary.Enums.LikeDislikeEnum).DISLIKE}">
    <button type="submit">Dislike</button>

</form>


<a href="" th:href="@{'/v/details?videoId=' + ${video.id}}"> Details</a>

<h1>Video Details</h1>
<h6>likes</h6>
<div th:each="like : ${allLike}">
    <h5 th:text="${like.id}"></h5>
</div>

<h6>dislikes</h6>

<div th:each="dislike : ${allDislike}">
    <h5 th:text="${dislike}"></h5>
</div>



</body>
</html>